    <div  class="p-4">
        <p-inputNumber 
            styleClass="pr-2 pt-1"
            inputId="integeronly" 
            [(ngModel)]="value" 
            (onInput)="handleChanges()"
            [min]="0"
        /> 
        <p-dropdown
            styleClass="min-w-[290px]"
            [filter]="true"
            filterBy="name" 
            [options]="currencyData"
            [(ngModel)]="selectedCurrency"
            optionLabel="name"
            placeholder="Select a currency"
            (onChange)="handleChanges()"
        />
    </div>
