<h2 class="text-xl font-bold bg-slate-100 p-2 rounded-lg">Currency converter</h2>

<p-progressSpinner *ngIf="isLoadingDropdown else content"></p-progressSpinner>


<ng-template #content>
    <app-currency-block
        [currencyData]="currencyData"
        [value]="store.fromValue()"
        [selectedCurrency]="store.selectedFromCurrency()"
        (currencyChange)="handleCurrencyChange($event, 'from')"
    ></app-currency-block>

    <app-currency-block
        [currencyData]="currencyData"
        [value]="store.toValue()"
        [selectedCurrency]="store.selectedToCurrency()"
        (currencyChange)="handleCurrencyChange($event, 'to')"
    ></app-currency-block>

    <app-conversion-result></app-conversion-result>
</ng-template>


