<h2 class="text-xl font-bold bg-slate-100 p-2 rounded-lg">Currency converter</h2>

<p-progressSpinner *ngIf="isLoadingDropdown else content"></p-progressSpinner>


<ng-template #content>
    <app-currency-block
        [currencyData]="currencyData"
        [value]="fromValue"
        [selectedCurrency]="selectedFromCurrency"
        (onCurrencyChange)="handleCurrencyChange($event, 'from')"
    ></app-currency-block>

    <app-currency-block
        [currencyData]="currencyData"
        [value]="toValue"
        [selectedCurrency]="selectedToCurrency"
        (onCurrencyChange)="handleCurrencyChange($event, 'to')"
    ></app-currency-block>


</ng-template>


